<section class="section categories-grid-section">
  <div class="container">
    <div class="title-container with-item">
      <h2 class="title">Navegue por categoria</h2>
      <a href="#" class="button">Ver todos</a>
    </div>
    <div class="grid">
      <a href="#" class="item">
        <%= image_tag "categories/category1.jpg", class: "item-image", alt: "Categoria" %>
        <div class="item-title">Design</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
    </div>
  </div>
</section>